body {
    margin: 0;
    font-family: 'Space Mono', sans-serif;
    color: #fff;
    background: #f9eddd;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

svg {
    display: inline-block;
    height: 100%;
}

.cursive {
    font-family: 'La Belle Aurore', sans-serif;
    font-size: 2em;
    color: #fff;
}

.item {
    transition: 0.5s;
}

.item:hover {
    letter-spacing: 2px;
} 

.header {
    background: #3b76c7;
    text-align: center;
}

.about {
    background: #7D9B8C;
}

.curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.curve svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 99px;
}

.curve .shape-fill {
    fill: #3b76c7;
}

.logo {
    max-width: 80px;
    transition: 0.8s;
}

.logo:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.line-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    text-align: left;
    overflow: hidden;
    z-index: 1;
    margin-left: 25px;
}

