body {
  margin: 0;
  font-family: 'Uchen', sans-serif;
  color: #353638;
  background: #F9EDDD;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.header {
  background: #F9EDDD
}

.about {
  background: #FFFAF4
}

.projects {
  background: #F9EDDD
}